<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PublicSans-Black.ttf</string>
		<string>PublicSans-BlackItalic.ttf</string>
		<string>PublicSans-Bold.ttf</string>
		<string>PublicSans-BoldItalic.ttf</string>
		<string>PublicSans-ExtraBold.ttf</string>
		<string>PublicSans-ExtraBoldItalic.ttf</string>
		<string>PublicSans-ExtraLight.ttf</string>
		<string>PublicSans-ExtraLightItalic.ttf</string>
		<string>PublicSans-Italic.ttf</string>
		<string>PublicSans-LightItalic.ttf</string>
		<string>PublicSans-Light.ttf</string>
		<string>PublicSans-Medium.ttf</string>
		<string>PublicSans-MediumItalic.ttf</string>
		<string>PublicSans-Regular.ttf</string>
		<string>PublicSans-SemiBold.ttf</string>
		<string>PublicSans-SemiBoldItalic.ttf</string>
		<string>PublicSans-Thin.ttf</string>
		<string>PublicSans-ThinItalic.ttf</string>
	</array>
	<key>LastAccessedDate</key>
	<date>2021-12-06T12:54:49Z</date>
	<key>WorkspacePath</key>
	<string>/Users/erosmaurilio/Documents/CrashChallenge4/TripCheck.xcodeproj</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
